.pcoded-navbar a {
  color: #a9b7d0;
}

.card .ant-card-head {
  position: relative;

  &::after {
    background-color: #04a9f5;
    content: "";
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    transform: translateY(-50%);
  }
}

.card .ant-card-head-title {
  display: flex;
  justify-content: space-between;
}