.valid-person-icon {
  /* font-size: 20px; */
  color: #56c427;
}

.invalid-person-icon {
  /* font-size: 20px; */
  color: #ff9800;
}

.emp-fio {
  font-size: 18px;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
  font-weight: bold;
  color: #262626;
}

.title {
  margin-bottom: 0 !important;
}